<div class="search">
<%= form_tag recipes_index_path, :method => "get" do %>
<%= label_tag(:search, "Search for recipe")%>
<%= text_field_tag :search, params[:search]%>
<%= submit_tag("search", :name=>nil)%>
<%end%>

</div>
<h1>Recipes for <%=@search%> </h1>
<table border = "1">
    <tr>
    <th>Photo</th>
    <th>Title</th>
    <th>Ingredients</th>
    </tr>
    <% @recipes.each do |recipe| %>
    <tr class= <%=cycle('even','odd')%> >
        <td><%= link_to(image_tag(recipe["thumbnail"])) %></td>
        <td><%= link_to(sanitize(recipe["title"]))%></td>
        <td><%= recipe["ingredients"] %></td>
    </tr>   
    <% end %>
</table>

<footer><a href="https://github.com/Ebinu-S/FoodHunter.git">Repository</a></footer>